<div class="hero-container">
    <div class="main-hero">
        <div class="text-container">
            <span class="main-hero-text">The Single Sign-on Portfolio</span>
            <div class="main-hero-button">See the apps <img src="../../../assets/arrow.png" alt="right arrow"
                    class="arrow"></div>
        </div>
    </div>
    <div class="right-hero">
        <h3>Top apps</h3>
        <ul>
            <li *ngFor="let app of apps">
                <app-app-card-list appURL="{{app.url}}" appThumbnailURL="{{app.thumbnail}}" appName="{{app.name}}"
                    appDescription="{{app.desc}}">
                </app-app-card-list>
            </li>
        </ul>
    </div>
</div>