@media only screen and (max-width: 700px)  {
    nav {
        display: none;
    }
}

@media only screen and (max-width: 620px) {
    
}

div {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.outter-container {
    padding: 0px 32px;
    height: 64px;
    background-color: var(--primary-light);
}

.inner-container {
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
}

h3 {
    font-weight: 600;
    color: white;
    margin: 0;
    white-space: nowrap;
}

ul {
    list-style-type: none;
    margin: 0;
}

ul > li {
    display: inline-block;
    margin: .75em;
}

a {
    text-decoration: none;
    color: white;
}

a.active,
a:hover {
    color: var(--secondary);
}

a.active::after,
a:hover::after {
    content: '';
    display: block;
    width: 25px;
    height: 3.5px;
    background: var(--secondary);
}



button {
    background-color: var(--secondary);
    color: var(--primary);
    font-family: 'Poppins';
    font-weight: 800;
    height: 35px;
    padding: 4px 16px;
    border: none;
    border-radius: 5px;
}