div {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.outter-container {
    padding: 0 32px;
    background-color: var(--primary-light);
}

.inner-container {
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
}

h3 {
    font-weight: 600;
    color: white;
}

ul {
    list-style-type: none;
}

ul > li {
    display: inline-block;
    margin: .75em;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--secondary);
}

button {
    background-color: var(--secondary);
    color: var(--primary);
    font-family: 'Poppins';
    font-weight: 800;
    height: 35px;
    padding: 4px 16px;
    border: none;
    border-radius: 5px;
}